.reset {
  -webkit-animation: mover 1.5s infinite alternate ease-in-out;
  animation: mover 1.5s infinite alternate ease-in-out;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
